@font-face {
   font-family: 'Fonte Letra - tt0590m_';
   font-display: swap;
   src: url('file:///C:/Users/SERVIDOR/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-04_093000/fonts/Fonte%20Letra%20-%20tt0590m_/font.ttf');
}
